USE [master]
GO
/****** Object:  Database [ETL_Schema]    Script Date: 12/03/2025 9:11:41 CH ******/
CREATE DATABASE [ETL_Schema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETL_Schema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ETL_Schema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETL_Schema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ETL_Schema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETL_Schema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETL_Schema]
GO
/****** Object:  Table [dbo].[Dim_Item]    Script Date: 12/03/2025 9:11:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Item](
	[Item_ID] [int] NOT NULL,
	[item_name] [nvarchar](255) NULL,
	[item_type] [nvarchar](255) NULL,
	[item_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 12/03/2025 9:11:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Time_ID] [int] NOT NULL,
	[date] [nvarchar](255) NULL,
	[time_of_sale] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Time_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Transaction]    Script Date: 12/03/2025 9:11:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Transaction](
	[Transaction_ID] [int] NOT NULL,
	[transaction_type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Order]    Script Date: 12/03/2025 9:11:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Order](
	[quantity] [float] NULL,
	[transaction_amount] [float] NULL,
	[Time_ID] [int] NULL,
	[Item_ID] [int] NULL,
	[Transaction_ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Item] ([Item_ID], [item_name], [item_type], [item_price]) VALUES (1, N'Panipuri', N'Fastfood', 3000)
INSERT [dbo].[Dim_Item] ([Item_ID], [item_name], [item_type], [item_price]) VALUES (2, N'Aalopuri', N'Fastfood', 2680)
INSERT [dbo].[Dim_Item] ([Item_ID], [item_name], [item_type], [item_price]) VALUES (3, N'Sugarcane juice', N'Beverages', 3825)
GO
INSERT [dbo].[Dim_Time] ([Time_ID], [date], [time_of_sale]) VALUES (1, N'6/22/2022', N'Night')
INSERT [dbo].[Dim_Time] ([Time_ID], [date], [time_of_sale]) VALUES (2, N'8/31/2022', N'Midnight')
INSERT [dbo].[Dim_Time] ([Time_ID], [date], [time_of_sale]) VALUES (3, N'9/23/2022', N'Evening')
GO
INSERT [dbo].[Dim_Transaction] ([Transaction_ID], [transaction_type]) VALUES (1, NULL)
INSERT [dbo].[Dim_Transaction] ([Transaction_ID], [transaction_type]) VALUES (2, N'Cash')
INSERT [dbo].[Dim_Transaction] ([Transaction_ID], [transaction_type]) VALUES (3, N'Online')
GO
INSERT [dbo].[Fact_Order] ([quantity], [transaction_amount], [Time_ID], [Item_ID], [Transaction_ID]) VALUES (13, 260, 194, 2, 1)
INSERT [dbo].[Fact_Order] ([quantity], [transaction_amount], [Time_ID], [Item_ID], [Transaction_ID]) VALUES (15, 300, 764, 7, 2)
INSERT [dbo].[Fact_Order] ([quantity], [transaction_amount], [Time_ID], [Item_ID], [Transaction_ID]) VALUES (1, 20, 251, 7, 2)
GO
ALTER TABLE [dbo].[Fact_Order]  WITH CHECK ADD  CONSTRAINT [FK_Item] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Dim_Item] ([Item_ID])
GO
ALTER TABLE [dbo].[Fact_Order] CHECK CONSTRAINT [FK_Item]
GO
ALTER TABLE [dbo].[Fact_Order]  WITH CHECK ADD  CONSTRAINT [FK_Time] FOREIGN KEY([Time_ID])
REFERENCES [dbo].[Dim_Time] ([Time_ID])
GO
ALTER TABLE [dbo].[Fact_Order] CHECK CONSTRAINT [FK_Time]
GO
ALTER TABLE [dbo].[Fact_Order]  WITH CHECK ADD  CONSTRAINT [FK_Transaction] FOREIGN KEY([Transaction_ID])
REFERENCES [dbo].[Dim_Transaction] ([Transaction_ID])
GO
ALTER TABLE [dbo].[Fact_Order] CHECK CONSTRAINT [FK_Transaction]
GO
USE [master]
GO
